body
{
    margin-right:1px;
   text-align:center;
  
  
   
}
#wrapper
{
    display:inline-block;
    width: 980px;
  
}
#header
{
    width:880px;
    height: 125px; 
    position: relative;
    background-color: #fff;
}
#main
{
    height: 100px;
    width:880px;
}
#pwclogo
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 94px;
    height: 72px;
    background-image: (../Images/mybrandpwclogo.gif);
    background-position: 0 0;
}
#welcometoereports
{
    position: absolute;
    left: 10px;
    top: 92px;
    font-family: Georgia;
    font-size: 18px;
    font-weight: bold;
}
#dataclassifications
{
    left: 520px;
    position: absolute;
    top: 92px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
#dataclassifications a:link, #dataclassifications a:visited
{
    font-family: Georgia, Verdana, Arial;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
#dataclassifications a:hover
{
    font-family: Georgia, Verdana, Arial;
    font-size: 18px;
    color: maroon;
    text-decoration: none;
    border-bottom: 1px dotted maroon;
}
#section_left
{
    float: left;
    width: 550px;
    border-top: #939598 4px solid;
    margin-left: 10px;
}
#section_right
{
    float: left;
    border-top: #939598 4px solid;
    margin-left: 10px;
}
#brandportrait
{
    font-family: Georgia, Verdana, Arial;
    font-size: 12px;
    width: 300px;
    text-align: left;
}
#warningmsg
{
    background-color: #F7F7F7;
    padding: 10px;
    font-family: Georgia, Verdana;
    font-size: 13px;
    text-align: justify;
}
#warningmsg ul
{
    margin-bottom: 5px;
    font-family: Georgia, Verdana;
    font-size: 13px;
    list-style: square;
}
#div_acceptance
{
    padding-top: 10px;
    text-align: center;
}
#footer
{
    clear: both;
    width: 860px;
    color: #474747;
    font-family: Verdana, Arial;
    font-size: 11px;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 10px;
    border-top: 1px #DDD solid;
    text-align:justify;
    margin-left:30px;
}
#footer a:link, #footer a:visited, #footer a:hover
{
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #000080;
    text-decoration: none;
}
#clearone
{
    clear: both;
    height: 10px;
    padding: 0px;
    margin: 0px;
}
#cleartwo
{
    clear: both;
    height: 1px;
    padding: 0px;
    margin: 0px;
}
/*********************************************************************************/
#section_left_login
{
    float: left;
    width: 550px;
    border-top: 4px #939598 solid;
    margin-left: 10px;
    text-align: center;
}
#loginbox
{
    width: 510px;
    padding: 20px 0px 20px 0px;
    border: 1px #ddd solid;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #F7F7F7;
}
.login_t
{
    font-family: Verdana;
    font-size: 14px;
    text-align: right;
    width: 500px;
    text-align:center;
}
.login_l
{
    font-family: Verdana;
    font-size: 11px;
    text-align: right;
    width: 100px;
    margin-left:100px;
}
.login_r
{
    font-family: Verdana;
    font-size: 11px;
    text-align: left;
    margin-left:100px;
}
.login_n
{
    font-family: Verdana;
    font-size: 11px;
    text-align: left;
    margin-left:100px;
}
.login_c
{
    font-family: Verdana;
    font-size: 11px;
    text-align: center;
    margin-left:100px;
}
#securityreasons
{
    font-family: Verdana;
    font-size: 11px;
    text-align: left;
    width: 400px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#login_error_msg
{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    color: #ff0000;
    text-align: left;
    width: 400px;
     margin-left: 20px;
}
#adusernamehelp
{
    text-align: left;
    margin-left:100px;
}
#adusernamehelp a:link, #adusernamehelp a:visited
{
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #000080;
    text-decoration: none;
}
#adusernamehelp a:hover
{
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #ff0000;
    text-decoration: none;
    background-color: Yellow;
}
