#colright /*Panel for Tags and Related Topics Content*/  
{
	width:0px;
	padding : 20px 0 20px 0;
	float:right; 
	overflow:hidden; 
	background:#FFF;
	display: none;
}

#colright #hidePanel 
{ 
	height:15px;
}

#showPanel  /*For collapsing the panel*/
{
	position:inherit; 
	z-index:2; 
	right:0; 
	float:right;
	display:block;
	margin-top: 10px;
	padding : 10px 0 10px 0;
	width:65px;
	/*width:240px;*/ 
	height:240px; 
	cursor:pointer;
	text-align:center;
	vertical-align: middle;
}

#showPanel span
{
	display:block;
	font : bold 11pt Calibri;
	color: #dc6900;
	height:100%;
	padding: 10px 0 10px 0;
	width:100%;
	background:#F6E9E9;
	text-align:center;
	vertical-align: middle;
	border-color: #E5E2DB
}

#colleft /*for view listing*/
{
	width: 100%;
}

#collefttbl /*for view listing*/
{
	width: 95%;
}

#colrighttbl /*for collapsible panel*/
{
	width: 5%;
}

.rotateText
{
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 240px;
}